# ignore ALL .root files
*.root

#ignore the file from the compilation
*.d
*.so
*.pcm

# ignore ALL files in ANY directory named temp
# comment below to not implement
#temp/

# ignore pdf files
*.pdf


#ignore images
*.png
*jpg
*.jpeg

#ignore vscode settings
.vscode/

#ignore text file
*.txt

#ignore powerpoint files
*.odp
*.odp#

#ignore folders
pp13TeV2023_apass4/
pp900GeV_apass1/
